/********************/
/* ncsc_default.css */
/********************/

TD, TH, SPAN, DIV, B, BODY
{
}
.inDent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-left: 25px;
}
.basictext
{
    COLOR: #616161;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt
}
.arttext
{
	COLOR: #616161;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
	FONT-SIZE: 9pt;
	padding-right: 5px;
	padding-left: 5px;
	
}
A
{
    COLOR: #0B2649;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #154B91;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.smalltext
{
    COLOR: #616161;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt
}
.dateline
{
	COLOR: #0B2649;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
}
.textentry
{
    BACKGROUND-COLOR: #e7e6d8;
    BORDER-BOTTOM: #0B2649 1px solid;
    BORDER-LEFT: #0B2649 1px solid;
    BORDER-RIGHT: #0B2649 1px solid;
    BORDER-TOP: #0B2649 1px solid;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt
}
.white_textentry
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #0B2649 1px solid;
    BORDER-LEFT: #0B2649 1px solid;
    BORDER-RIGHT: #0B2649 1px solid;
    BORDER-TOP: #0B2649 1px solid;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt
}
.txtentry
{
	BACKGROUND-COLOR: #e7e6d8;
	BORDER-BOTTOM: 1px solid #0B2649;
	BORDER-LEFT: 1px none #0B2649;
	BORDER-RIGHT: 1px none #0B2649;
	BORDER-TOP: 1px none #0B2649;
	COLOR: #333333;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
	FONT-SIZE: 8pt;
	padding: 4px;
}
.content_area
{
    BORDER-LEFT: #77B777 1px solid;
    BORDER-TOP: #77B777 1px solid
}
.sub_content_area
{
    BORDER-TOP: #77B777 1px solid
}
.location_area
{
    BORDER-LEFT: #FFFFFF 1px solid;
    BORDER-RIGHT: #FFFFFF 1px solid;
}
.border
{
    BORDER-BOTTOM: #cccccc 2px outset;
    BORDER-LEFT: #cccccc 2px outset;
    BORDER-RIGHT: #cccccc 2px outset;
    BORDER-TOP: #cccccc 2px outset
}
.ltborder
{
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #cccccc 1px solid
}

.grayBox
{

	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
    BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
	BACKGROUND-COLOR: #e8e8e8

}

.whiteBox
{
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
    BORDER-BOTTOM: #999999 1px solid;
    BORDER-LEFT: #999999 1px solid;
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
	BACKGROUND-COLOR: #ffffff
}

.searchBox
{
	BACKGROUND-COLOR: #F7F7D5;
    COLOR: #000066;
    BORDER-BOTTOM: #77B777 1px solid;
    BORDER-LEFT: #77B777 1px solid;
    BORDER-RIGHT: #77B777 1px solid;
    BORDER-TOP: #77B777 1px solid;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt
}
SELECT
{
    BACKGROUND-COLOR: #F7F7D5;
    BORDER-BOTTOM: #0B2649 1px solid;
    BORDER-LEFT: #0B2649 1px solid;
    BORDER-RIGHT: #0B2649 1px solid;
    BORDER-TOP: #0B2649 1px solid;
    COLOR: #000066;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt
}
.bord2
{
    BORDER-BOTTOM: #004a43 1px solid;
    BORDER-LEFT: #004a43 1px solid;
    BORDER-RIGHT: #004a43 1px solid;
    BORDER-TOP: #004a43 1px solid
}
.cbord
{
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid
}
.tabs
{
    BACKGROUND-COLOR: #0B2649;
    BORDER-BOTTOM: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    COLOR: #e7e6d8;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bolder
}
.cltabs
{
    BORDER-BOTTOM: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
	FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt
}
BODY
{
  
}
TABLE
{

}
.lables
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM: 1px inset;
    BORDER-LEFT: 1px inset;
    BORDER-RIGHT: 1px inset;
    BORDER-TOP: 1px inset;
    COLOR: #808080;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
.art_area
{
    BACKGROUND-COLOR: #E0E0E0;
    BORDER-BOTTOM: 1px inset;
    BORDER-LEFT: 1px inset;
    BORDER-RIGHT: 1px inset;
    BORDER-TOP: 1px inset;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal
}
.xlables
{
    BACKGROUND-COLOR: #7A8C94;
    BORDER-BOTTOM: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    COLOR: #808080;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal
}
.buts
{
    BACKGROUND-COLOR: #ffffd5;
    BORDER-BOTTOM: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
    COLOR: #00005b;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 8pt
}
.titletext
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 10pt;
    FONT-VARIANT: normal;
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: none
}
.litetext {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
}
.menuitem {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	background-color: #AAD5FF;
	border: thin outset #AAD5FF;
}
.pagetitle {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0B2649;
}
.uline {
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.highlight {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
	background-color: #FFFFBF;
}
.context_help {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 7pt;
	color: #333333;
	background-color: #FFFFBF;
}
.CalendarTitle
{
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-weight: bold;
}
.CalendarMonth
{
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 14pt;
	color: #ffffff;
	font-weight: bold;
}
.CalendarColumnHeading
{
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 9pt;
	color: #ffffff;
	font-weight: bold;
}
.CalendarBoxes
{
    BORDER-BOTTOM: #77B777 1px solid;
    BORDER-LEFT: #77B777 1px solid;
    BORDER-RIGHT: #77B777 1px solid;
    BORDER-TOP: #77B777 1px solid;
}

#LocationLink A:hover
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

/*Announcement Menu Styles */

#intra_announce{
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:#333333;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #CCCCCC;
}
#intra_announce A
{
font-family:Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight:bold;
text-decoration:none;
color:#333333;


}
#intra_announce A:hover
{
font-family:Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight:bold;
text-decoration:underline;
color:#333333;
}
#intra_announce B
{
font-family:Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight:bold;
text-decoration:none;
color:#333333;
}

/*Link menu styles below*/

#linkMenu {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
}
.menuCat{
    COLOR: #000000;
    FONT-FAMILY: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
	FONT-WEIGHT: bold;
}
#linkMenu A
{
    COLOR: #0B2649;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
#linkMenu A:hover
{
    COLOR: #9598bd;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

/*top link style */

#topLink {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
#topLink A
{
    COLOR: #0B2649;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
#topLink A:hover
{
    COLOR: #9598bd;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}


#Announce {
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
}
#Announce TD
{
    BACKGROUND-COLOR: #BBD6EF;
    BORDER-BOTTOM: #BBD6EF 1px solid;
    BORDER-LEFT: #BBD6EF 1px solid;
    BORDER-RIGHT: #BBD6EF 1px solid;
    BORDER-TOP: #BBD6EF 1px solid;
    COLOR: #333333;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 10pt
}
#linkNormal {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
}
#linkNormal A
{
    COLOR: #0B2649;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
#linkNormal A:hover
{
    COLOR: #9598bd;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}
/* classes below used to create buttons from simple links */
.container {
	margin: 1px 1px;
	padding: 1px;
}


.btn2 {
	border-top: 1px solid #999;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	border-left: 1px solid #999;
	padding: 3px 15px;
	text-align: center;
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 10px;
	line-height: 22px;
	text-decoration:none;
	color:#888;
	font-weight : normal;
	background:#fff;
}
a.btn2:link {
	text-decoration:none;
	color:#888;
	font-weight : normal;
	background:#fff;
}
a.btn2:hover {
	text-decoration:none;
	color:#666;
	font-weight:normal;
	background: #eee;
}
.mainbkground {
background-image:url(../images/intranet_beta_r4_c2.gif);
background-repeat:no-repeat;
background-position:center;
}
/*admin menu*/
#adminMenu {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
#adminMenu A
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
	text-align:center
}
#adminMenu A:hover
{
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
	text-align:center
}
.section_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #000000;
	background-color: #A3B2CC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E8EBF2;
	border-right-color: #E8EBF2;
	border-bottom-color: #E8EBF2;
	border-left-color: #E8EBF2;
	list-style-position: outside;
	list-style-type: square;
}
/*inc menu*/
#incMenu {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
	color:#333333
}
#incMenu A
{
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
	text-align:center
}
#incMenu A:hover
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
	text-align:center
}
#incMenu TD
{
border-style: solid;
border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
border-color:#999999;
background-color:#D1D1D1
}
#incMenu .selTD
{
border-style:solid;
border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
border-color:#333333;
background-color:#FFFFFF;
}
.basictextb {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
}

.sideBarTitle
{
    COLOR: #993333;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}

/*Speakers Bureau*/
#SB {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
}
#SB A
{
    COLOR: #993333;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
#SB A:hover
{
    COLOR: #993333;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: underline;
}

/*CMS Menu*/
#CMSMenu {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
}
#CMSMenu A
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
    TEXT-DECORATION: none;
}
#CMSMenu A:hover
{
    COLOR: #CCCCCC;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
    TEXT-DECORATION: underline;
}
#CMSMenu .menu
{
	border-color: #0B2649;
    BACKGROUND-COLOR: #0B2649;
    BORDER-BOTTOM: 1px outset;
    BORDER-LEFT: 1px outset;
    BORDER-RIGHT: 1px outset;
    BORDER-TOP: 1px outset;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 7pt;
	color:#cccccc;
}

/*Court Security Forum*/
#CS {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
}
#CS A
{
    COLOR: #154B91;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none;
}
#CS A:hover
{
    COLOR: #154B91;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: underline;
}

#CS .titleText
{
    COLOR: #993333;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 12pt;
	font-weight:bold;
}
.cal_day {
  background-image: url(/images/cal_day.gif);
  background-repeat: no-repeat;
  height: 22px;
  width: 88px;
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 8pt;
  color: #FFFFFF;
  text-align : center;
}.headerText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #0B2649;
}
/*Left Menu*/
#LeftMenu {
    FONT-FAMILY: Arial, Tahoma, Arial, Helvetica, sans-serif;
	FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
	FONT-SIZE: 10pt;
}
#LeftMenu A
{
    COLOR: #FFFFFF;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: none;
}
#LeftMenu A:hover
{
    COLOR: #CCCCCC;
    FONT-FAMILY: Arial, Helvetica, Tahoma, sans-serif;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline;
}
#HomeLogo {
	float: none;
	height: 175px;
	width: 400px;
	clear: both;
}
#TopMenu {
	float: right;
	height: 175px;
	width: 350px;
}
.cltabs #ContentBlock2 {
	visibility: hidden;
}
